src/main/mule/git_demo3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5a55763-2121-47f8-aec3-159a1605aa0f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git_demo3Flow" doc:id="88652e30-e478-4ecc-8c3e-0b73f4269de7" >
		<http:listener doc:name="Listener" doc:id="4edfde7e-553f-47bb-a28e-333698b8f7f7" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="5235f99c-54e9-4897-9a58-c2d99e6e0e17" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e7f3156f-c8bc-4811-89a3-c363cd96bfae" />
		<logger level="INFO" doc:name="Logger" doc:id="8ef04cd8-18df-4aea-9f70-9a5c9dc7a3ba" />
	</flow>
</mule>
